*.weights filter=lfs diff=lfs merge=lfs -text
*.dcm filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
*.bi filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.dl filter=lfs diff=lfs merge=lfs -text
*.ex filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.ht filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pd filter=lfs diff=lfs merge=lfs -text
*.sy filter=lfs diff=lfs merge=lfs -text
*.vp filter=lfs diff=lfs merge=lfs -text
*.abf filter=lfs diff=lfs merge=lfs -text
*.aps filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.BIN filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.bsf filter=lfs diff=lfs merge=lfs -text
*.cab filter=lfs diff=lfs merge=lfs -text
*.CAB filter=lfs diff=lfs merge=lfs -text
*.cat filter=lfs diff=lfs merge=lfs -text
*.CAT filter=lfs diff=lfs merge=lfs -text
*.cer filter=lfs diff=lfs merge=lfs -text
*.chm filter=lfs diff=lfs merge=lfs -text
*.com filter=lfs diff=lfs merge=lfs -text
*.COM filter=lfs diff=lfs merge=lfs -text
*.cpa filter=lfs diff=lfs merge=lfs -text
*.cpl filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.din filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.DLL filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.emf filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.EXE filter=lfs diff=lfs merge=lfs -text
*.exp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.hlp filter=lfs diff=lfs merge=lfs -text
*.HLP filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.ICO filter=lfs diff=lfs merge=lfs -text
*.inx filter=lfs diff=lfs merge=lfs -text
*.isn filter=lfs diff=lfs merge=lfs -text
*.iso filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.JPG filter=lfs diff=lfs merge=lfs -text
*.kmd filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.lnk filter=lfs diff=lfs merge=lfs -text
*.mdb filter=lfs diff=lfs merge=lfs -text
*.mdu filter=lfs diff=lfs merge=lfs -text
*.mpg filter=lfs diff=lfs merge=lfs -text 
*.mrg filter=lfs diff=lfs merge=lfs -text
*.msg filter=lfs diff=lfs merge=lfs -text
*.msi filter=lfs diff=lfs merge=lfs -text
*.Msi filter=lfs diff=lfs merge=lfs -text
*.MSI filter=lfs diff=lfs merge=lfs -text
*.msm filter=lfs diff=lfs merge=lfs -text
*.mui filter=lfs diff=lfs merge=lfs -text
*.nbf filter=lfs diff=lfs merge=lfs -text
*.ocx filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.pfx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.sdf filter=lfs diff=lfs merge=lfs -text
*.sfx filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
*.sys filter=lfs diff=lfs merge=lfs -text
*.SYS filter=lfs diff=lfs merge=lfs -text
*.tbl filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.ufo filter=lfs diff=lfs merge=lfs -text
*.vhd filter=lfs diff=lfs merge=lfs -text
*.vsd filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.vsdx filter=lfs diff=lfs merge=lfs -text
*.dotx filter=lfs diff=lfs merge=lfs -text
*.iobj filter=lfs diff=lfs merge=lfs -text
*.ipdb filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.xltx filter=lfs diff=lfs merge=lfs -text
*.accdb filter=lfs diff=lfs merge=lfs -text
*.dicom filter=lfs diff=lfs merge=lfs -text
*.acqmdu filter=lfs diff=lfs merge=lfs -text
*.rawmdu filter=lfs diff=lfs merge=lfs -text
*.RawMdu filter=lfs diff=lfs merge=lfs -text
*.RAWMDU filter=lfs diff=lfs merge=lfs -text
*.vsmacros filter=lfs diff=lfs merge=lfs -text
*.devicemetadata-ms filter=lfs diff=lfs merge=lfs -text
*.bi_ filter=lfs diff=lfs merge=lfs -text
*.ca_ filter=lfs diff=lfs merge=lfs -text
*.da_ filter=lfs diff=lfs merge=lfs -text
*.dl_ filter=lfs diff=lfs merge=lfs -text
*.ex_ filter=lfs diff=lfs merge=lfs -text
*.ic_ filter=lfs diff=lfs merge=lfs -text
*.km_ filter=lfs diff=lfs merge=lfs -text
*.pd_ filter=lfs diff=lfs merge=lfs -text
*.si_ filter=lfs diff=lfs merge=lfs -text
*.sy_ filter=lfs diff=lfs merge=lfs -text
*.pack filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
