<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationInstanceName" value="WindowsFormApplication3"/>
    <add key="DatabasePath" value="C:\PoojaDocs\Pooja Docs\Programs\FinalVersion\TestProgram2\Database\TestDatabase.db"/>
    </appSettings>
</configuration>